html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul,li{
  list-style:none;
}

img{
  display:block;
}

a{
  text-decoration:none;
}

b{
  font-weight:normal;
}

body {
  line-height:1;
}

:focus {
  outline: none;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted #000;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

button{
	text-align: center;
}

label,button,select,div.sex{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select:none;
}
input{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.layout-h{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.layout-item{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}

body{
  position:static;
  padding:0;
}
@media screen and (max-width:320px){
  html{font-size:21.33px}
  body{font-size:12px}
  .video-js {
    height: 7.4rem;
  }
}
@media screen and (min-width:320px){
  html{font-size:21.33px}
  body{font-size:12px}
  .video-js {
    height: 7.8rem;
  }
}
@media screen and (min-width:360px){
  html{font-size:24px}
  body{font-size:12px}
  .video-js {
    height: 7.9rem;
  }
}
@media screen and (min-width:375px){
  html{font-size:25px}
  body{font-size:12px}
}
@media screen and (min-width:384px){
  html{font-size:25.6px}
  body{font-size:14px}
}
@media screen and (min-width:400px){
  html{font-size:26.67px}
  body{font-size:14px}
  .video-js {
    height: 8rem;
  }
}
@media screen and (min-width:411px){
  .video-js {
    height: 8.2rem;
  }
}
@media screen and (min-width:414px){
  html{font-size:26.67px}
  body{font-size:13px}
  .video-js {
    height: 8.3rem;
  }
}
@media screen and (min-width:424px){
  html{font-size:28.27px}
  body{font-size:14px}
  .video-js {
    height: 8rem;
  }
}
@media screen and (min-width:480px){
  html{font-size:32px}
  body{font-size:15.36px}
  .video-js {
    height: 8.1rem;
  }
}
@media screen and (min-width:540px){
  html{font-size:36px}
  body{font-size:17.28px}
  .video-js {
    height: 8.2rem;
  }
}
@media screen and (min-width:600px){
  .video-js {
    height: 9.1rem;
  }
}
@media screen and (min-width:720px){
  html{font-size:48px}
  body{font-size:23.04px}
  .video-js {
    height: 8.3rem;
  }
}
@media screen and (min-width:750px){
  html{font-size:50px}
  body{font-size:24px}
}

@media screen and (min-width:768px){
  .video-js {
    height: 8.5rem;
  }
}
@media screen and (min-width:1024px){
  html{font-size:65px}
  body{font-size:24px}
  .video-js {
    height: 8.8rem;
  }
}

html,body{
  min-height:100%;
}

.vjs-error .vjs-error-display .vjs-modal-dialog-content{
	visibility: hidden !important;
}
.vjs-error .vjs-error-display:before{
	content: "" !important;
}

